
* {
  box-sizing: border-box;
}

body {
  background: #ebf1f5;
  font-family: sans-serif;
  font-size: 100%;
  color: #333333;
  margin: 0;
  padding: 0;
}

.sdkpay-form {
  background: #fff;
  box-shadow: rgba(0,0,0,.15) 0 2px 20px,
              rgba(0,0,0,.1) 0 0 3px;
  border-radius: 6px;
  min-width: 320px;
  max-width: 550px;
  width: 60%;
  padding: 0;
  margin: 2em auto;
}

fieldset {
  border: none;
  margin: 0;
  padding: 3em 1em 2em;
  border-bottom: 1px solid #d2d8dc;
}

.sdkpay-field-submit {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 2.5em;
}

h2 {
  font-weight: 100;
  font-size: 1.35em;
  color: #333333;
  margin-top: 0;
}

.sdkpay-field {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5em;
}

label {
  display: block;
  margin-bottom: .25em;
  white-space: nowrap;
  overflow: hidden;
}

.sdkpay-label-secondary {
  color: #999;
  font-size: .8125em;
  margin-top: .5em;
}

.sdkpay-input-text {
  display: block;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: .65em .5em;
  font-size: 91%;
}






.sdkpay-fs-name .sdkpay-field {
  width: 46%;
  margin-right: 2%;
}

.sdkpay-field-lname {
  margin-right: 0;
}


.sdkpay-field-city {
  width: 41%;
  margin-right: 2%;
}

.sdkpay-field-state {
  width: 15%;
  margin-right: 2%;
}

.sdkpay-field-postcode {
  width: 25%;
}


.sdkpay-field-cc{
  height:50px;
}

.sdkpay-number{
  width:67%;
}

.sdkpay-verification_value{
  width:30%;
}




.sdkpay-field-group {
  display: inline-block;
}

.sdkpay-month {
  width: 20%;
}

.sdkpay-year {
  width: 30%;
}

.sdkpay-exp-divider {
  display: inline-block;
  margin: 0 .4em;
  font-size: 150%;
  line-height: 1.5;
  position: relative;
  top: .2em;
}



.button {
  display: inline-block;
  width: 100%;
  border-radius: 2rem;
  background: #000;
  color: #fff;
  padding: .75em 2em;
  font-size: 100%;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #3b3333;
}
.button:active {
  position: relative;
  top: 1px;
}



#errors,
#message {
  color: red;
  margin: 1em 0;
  line-height: 1.5;
}

#message {
  color: green;
}




@media screen and (max-width: 400px) {
  .sdkpay-form {
    margin: 0 auto;
  }
}
@media screen and (max-width: 625px) {
  .sdkpay-form {
    width: 80%;
  }
}